 <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
    <a class="navbar-brand" href="{{ path_for('home') }}">Backoffice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        {% if auth.check %}
            <div class="btn-group mb-1 w-150 ml-auto">
                <button type="button" class="btn btn-primary" data-toggle="dropdown">
                    <i class="fas fa-user smallIcon"></i>
                    {{ auth.user }}
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path_for("photo.new") }}">Ajouter une photo</a>
                    <a class="dropdown-item" href="{{ path_for("photo.all") }}">Mes photos</a>
                    <a class="dropdown-item" href="{{ path_for("serie.new") }}">Créer une série</a>
                    <a class="dropdown-item" href="{{ path_for("serie.all") }}">Mes séries</a>
                    <a class="dropdown-item" href="{{ path_for('auth.signout') }}">Déconnexion</a>
                </div>
            </div>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('auth.signin') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('auth.signup') }}">Inscription</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>